<div id="left-image">
  <a href="${pageContext.request.contextPath}/jsp/common/main.jsp">
    <img src="${pageContext.request.contextPath}/images/home.png"/>
  </a>
</div> 
<div id="right-image">
  <img src="${pageContext.request.contextPath}/images/logo.png"/>
</div> 