@charset "UTF-8";

 * {padding:0; margin:0;}
 
 html, body, div#container {height: 100%; min-height: 600px; min-width:1200px;}

 body > div#container {
   margin-left:auto; 
   margin-right:auto; 
   height: auto; 
   min-height: 100%; 
   position: relative;
 }
 
 div#header { 
   text-align:center;
   background-color:#441111;
   height: 100px;
 }
 
 div#header div#left-image {
  margin:0 auto;
  width:20%;
  float:left;
  padding-top:5px;
}

 div#header div#right-image {
  width:60%;
  margin:0 auto;
}

 div#header div#left-image img {
  float:left;
  width:170px;
  height:90px;
  margin:0 auto;
}

 div#header div#right-image img {
  float:left;
  width:800px;
  height:100px;
  margin:0 auto;
}
 
 div#content {
   width:100%;
   top:100px; 
   bottom:0; 
   background-color: white;
   overflow: auto;
 }
 
 div#content form {
   float:left;
 }
 
 div#content p#caption {
   font-size:25px;
   margin:0 0 10px 0;
 }
 
 div#content p#prompt {
   font-size:20px;
   margin:0 0 15px 0;
 }
 
 div#left-content {
   margin-right:15px; 
   padding:15px 15px 150px 15px; 
   min-height: 100%;
   float:left; 
   min-width:400px;
   background-color: white;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
 }
 
 div#right-content {
   margin:0px;
   padding:15px 15px 150px 15px; 
   min-height: 100%;
   float:left; 
   min-width:400px;
   background-color: white;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
 }
 
 div#footer {
   background-color:#bb9955;
   position: relative;
   margin-top: -20px;
   height: 20px;
   clear:both;
 } 
 
 div#img-with-text {
    text-align: justify;
    width: 300px;
}