@charset "UTF-8";

div#content {
	margin-top: 0px;
}

div#mbar { 
   margin: 0; 
   margin-left:170px; 
   height:18px;
   padding: .3em 0 .3em 0; 
   background: #F5E8CC; 
   width:calc(100% - 170px); 
   text-align: left; 
} 

div#mbar ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#mbar ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#mbar ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #004415; 
} 

div#mbar ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #227755; 
} 

div#mbar ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #227755; 
} 

div#mbar ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #f6f0cc; 
   background-color: #bb9955; 
}lor:#bb9955;}