 div#nav {
   background-color:#ffdd99;
   width:170px; 
   float:left; 
   top:100px; 
   bottom:0; 
   position: absolute;
 }
 
 div#nav div#links {
   display: table;
   margin: 0 auto;
 }
 
 div#nav ul {
   margin:15px; 
   list-style-type:none;
 }
 
 div#content {
   margin-left:170px;
   width:calc(100% - 170px);
 }